
.js-parallax-slide-bg{
  /*
  z-index: 0;
  */
}

.mySwiperThumbs .swiper-slide .overlay{
  opacity: 0.6;
  transition: .6s cubic-bezier(.19, .94, .336, 1);

}

.mySwiperThumbs .swiper-slide-thumb-active .overlay {
  opacity: 0;
}


  // Custom navigtion

/* 13.2. Swiper arrows
   ========================================================================== */

.swiper-button-prev-box,
.swiper-button-next-box {
  position: absolute;
  bottom: 0;
  /*
  z-index: 4;
  */
}

.swiper-button-prev-box {
  left: 0;
}

.swiper-button-next-box {
  right: 0;
}

.js-fullscreen-slider .swiper-button-prev-box{
  left: 20px;
  bottom: 70px;
}

.js-fullscreen-slider .swiper-button-next-box{
  right: 20px;
  bottom: 70px;
}

.js-home-slider .swiper-button-prev-box {
  left: auto;
  right: 130px;
  bottom: 40px;
}

.js-home-slider .swiper-button-next-box {
  right: 20px;
  bottom: 40px;
}

.swiper-container-vertical .swiper-button-prev-box,
.vertical-arrow.swiper-button-prev-box {
  -webkit-transform: rotate(-90deg) scaleY(-1) scaleX(-1) translateX(-100%);
  transform: rotate(-90deg) scaleY(-1) scaleX(-1) translateX(-100%);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.swiper-container-vertical .swiper-button-next-box,
.vertical-arrow.swiper-button-next-box {
  -webkit-transform: rotate(90deg) scaleY(-1);
  transform: rotate(90deg) scaleY(-1);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.horizontal-arrow.swiper-button-prev-box,
.horizontal-arrow.swiper-button-next-box {
  -webkit-transform: none;
  transform: none;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 0;
  position: relative !important;
  left:   auto !important;
  top:    auto !important;
  right:  auto !important;
  bottom: auto !important;
  -webkit-transform: none !important;
  transform: none !important;
  background-image: none;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none !important;
}

  // Custom Pagination
  .swiper-pagination {
    counter-reset: paginationIndex;
  }

  .swiper-pagination-bullet {
    overflow: hidden;
    width:  26px;
    height: 26px;
    position: relative;
    opacity: 1;
    border-radius: 0;
    background: transparent;
    counter-increment: paginationIndex;
  }

  .swiper-pagination-bullet {
    margin: 0 5px !important;
    padding:10px;

  }

  .swiper-pagination-bullet:first-child {
    margin-left: 0 !important;
  }

  .swiper-pagination-bullet:last-child {
    margin-right: 0 !important;
  }

  .swiper-pagination-bullet:before,
  .swiper-pagination-bullet:after {
    content: counter(paginationIndex);
    position: absolute;
    left: 50%;
    top:  50%;
    padding:10px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    transition: .6s cubic-bezier(.19, .94, .336, 1);
  }

  .swiper-pagination-bullet:nth-child(1):before,
  .swiper-pagination-bullet:nth-child(1):after,
  .swiper-pagination-bullet:nth-child(2):before,
  .swiper-pagination-bullet:nth-child(2):after,
  .swiper-pagination-bullet:nth-child(3):before,
  .swiper-pagination-bullet:nth-child(3):after,
  .swiper-pagination-bullet:nth-child(4):before,
  .swiper-pagination-bullet:nth-child(4):after,
  .swiper-pagination-bullet:nth-child(5):before,
  .swiper-pagination-bullet:nth-child(5):after,
  .swiper-pagination-bullet:nth-child(6):before,
  .swiper-pagination-bullet:nth-child(6):after,
  .swiper-pagination-bullet:nth-child(7):before,
  .swiper-pagination-bullet:nth-child(7):after,
  .swiper-pagination-bullet:nth-child(8):before,
  .swiper-pagination-bullet:nth-child(8):after,
  .swiper-pagination-bullet:nth-child(9):before,
  .swiper-pagination-bullet:nth-child(9):after {
    content: '0' counter(paginationIndex);
  }

  .swiper-pagination-bullet:after {
    -webkit-transform: translateX(-50%) translateY(-40px);
    transform: translateX(-50%) translateY(-40px);
  }


  .swiper-pagination-bullet-active:before {
    -webkit-transform: translateX(-50%) translateY(30px);
    transform: translateX(-50%) translateY(30px);
    background-color:white ;
    color:black;
    font-weight: bold;

  }

  .swiper-pagination-bullet-active:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color:white ;
    color:black;
    font-weight: bold;
  }
