@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*
    * Ajust padding or navigation
    */
    html{
        scroll-behavior: smooth;
    }
    main > section:first-child{
        @apply pt-52;
    }
}

@layer components {
    /*
    * btn
    */
    /* btn size*/
    .btn {
        @apply px-4 py-2 border border-transparent text-base font-medium rounded-md;
    }

    /* btn variant*/
    .btn-primary {
        @apply text-gray-800 bg-primary-200 hover:bg-primary-100;
    }
    .btn-secondary {
        @apply text-gray-800 bg-amber-100 hover:bg-amber-200;
    }

    .btn-white {
        @apply text-gray-800 bg-white hover:bg-gray-100;
    }
    .btn-black {
        @apply text-white bg-gray-800 hover:bg-gray-900;
    }


    /*
    * Animate
    */
    .is-out-view {
        opacity: 0;
        transition: all 0.35s linear;
        transform: translateY(-50%);
    }

    .is-in-view {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.25s linear 250ms;
    }

    /*
    * data-rmiz-wrap
    */
    [data-rmiz-wrap] {
        height: 100%;
        width: 100%;
    }

    /*
    * Cookie hide-consent
    */
    :root {
        --color-primary: theme("colors.emerald.200");
        --color-gray-800: theme("colors.gray.800");
    }

    /*Cookie hide-consent*/
    html.show--consent .c--anim #cm,
    html.show--consent .c--anim #cm.bar {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    a.cc-link {
        @apply text-gray-800;
    }

    #c-bns button:first-child,
    #s-bns button:first-child {
        @apply text-gray-800 bg-white hover:bg-gray-100;
    }

    /* Cookie force--consent layout */
    .force--consent #c-inr {
        display: flex !important;
        flex-direction: column !important;
    }

    .force--consent #c-inr-i {
        display: initial !important;
        width: 100% !important;
    }

    .force--consent #cm {
        transform: translateY(-50%) !important;
        top: 50% !important;
        bottom: initial !important;
    }

    /* #cc--main >#cc_div :after{
        content:"";
        height:100%;
        width: 100%;
        @apply bg-gradient-to-b to-black;
    }*/

    /*
    * decoration
    */
    .line-wrapper {
        margin-left: 60px;
    }

    .line-element::after {
        content: "";
        width: 40px;
        position: absolute;
        height: 2px;
        top: 50%;
        left: -60px;
        @apply bg-black;
    }

    .line-wrapper-primary {
        @apply bg-emerald-200;
    }

    /*
    * swiper addons
    */
    /*No need z-index*/
    .mySwiperFull,
    .mySwiperFull .swiper-wrapper{
        z-index:inherit !important;
    }

    .mySwiperFull .swiper-wrapper{
        height:100%;
    }

    .mySwiperThumbs .dot {
        opacity: 0;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #000;
        transform: scale(0);
        transition: 0.6s;
        will-change: tansform;
        transform-origin: 50% 50% 0;
    }

    .mySwiperThumbs .title {
        transition: 0.6s;
        will-change: tansform;
        transform-origin: 50% 50% 0;
        transform: translateX(0);
        @apply text-gray-500;
    }

    .mySwiperThumbs .swiper-slide-thumb-active .dot {
        opacity: 1;
        transform: scale(1);
    }

    .mySwiperThumbs .swiper-slide-thumb-active .title {
        @apply text-gray-800 font-semibold;
        transform: translateX(6px);
    }
    .mySwiperThumbs .img-container{
        @apply border-b-8 border-transparent;
    }
    .mySwiperThumbs .swiper-slide-thumb-active .img-container{
        @apply border-amber-100;
    }


    /*
    * sections
    */
    .rich-text-banner {
        @apply whitespace-pre-line;
    }

}
